<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.map.vector.util.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="TencentMapSDK"
            android:value="您的 key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clustering.ClusteringActivity"
            android:label="@string/demo_label_clustering">

            <meta-data
                android:name="description"
                android:value="@string/demo_desc_clustering" />
        </activity>
        <activity
            android:name=".clustering.LargeNumberClusteringActivity"
            android:label="@string/demo_desc_large_number_clustering">
            <meta-data
                android:name="description"
                android:value="@string/demo_desc_large_number_clustering" />
        </activity>
        <activity
            android:name=".clustering.CustomClusteringActivity"
            android:label="@string/demo_label_custom_clustering">

            <meta-data
                android:name="description"
                android:value="@string/demo_desc_custom_clustering" />
        </activity>
        <activity
            android:name=".animation.MarkerTranslateActivity"
            android:label="@string/demo_label_marker_translation">

            <meta-data
                android:name="description"
                android:value="@string/demo_desc_marker_translation" />
        </activity>
    </application>

</manifest>
